# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
